<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="err.aspx">
      <!--Change-->
      <error statusCode="403" redirect="err.aspx"/>
      <error statusCode="404" redirect="err.aspx"/>
    </customErrors>
    <sessionState mode="InProc" timeout="3600"/>
    <httpRuntime maxRequestLength="4096" executionTimeout="3600"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".otf" mimeType="font/otf"/>
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Remove www" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www.luxxnailbar.net$"/>
          </conditions>
          <action type="Redirect" url="http://luxxnailbar.net/{R:0}" redirectType="Permanent"/>
        </rule>
        <rule name="Default Document" stopProcessing="true">
          <match url="(.*)index.html"/>
          <action type="Redirect" url="{R:1}" redirectType="Permanent"/>
        </rule>
        <rule name="services" stopProcessing="true">
          <match url="services$"/>
          <action type="Rewrite" url="/services.html"/>
        </rule>
        <rule name="gallery" stopProcessing="true">
          <match url="gallery$"/>
          <action type="Rewrite" url="/gallery.html"/>
        </rule>
        <rule name="promotions" stopProcessing="true">
          <match url="promotions$"/>
          <action type="Rewrite" url="/promotions.html"/>
        </rule>
        <rule name="reviews" stopProcessing="true">
          <match url="reviews$"/>
          <action type="Rewrite" url="/reviews.html"/>
        </rule>
        <rule name="contact" stopProcessing="true">
          <match url="contact$"/>
          <action type="Rewrite" url="/contact.html"/>
        </rule>
        <rule name="egift" stopProcessing="true">
          <match url="egift$"/>
          <action type="Rewrite" url="/egift.aspx"/>
        </rule>
        <rule name="stay-connected" stopProcessing="true">
          <match url="stay-connected$"/>
          <action type="Rewrite" url="/stay-connected.html"/>
        </rule>
        <rule name="our-pledge" stopProcessing="true">
          <match url="our-pledge$"/>
          <action type="Rewrite" url="/our-pledge.html"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <add key="conn" value="Data Source=184.168.86.148,1433;Initial Catalog=myesalon;User ID=myesalonaccess;Password=rOOTSalon83979;"/>
    <!--Webservice password-->
    <add key="webservicepass" value="bigmyesalon79"/>
    <!--User ID Of Salon-->
    <add key="UserID" value="luxxnailbar"/>
    <!--Change-->
    <add key="USID" value="1302"/>
    <!--Change-->
    <!--Domain-->
    <add key="domain" value="luxxnailbar.net"/>
    <!--Paypal-->
    <add key="paypalemail" value="test@myesaon.com"/>
    <!--Change-->
    <add key="payreturn" value="http://luxxnailbar.net/ordercompleted.html"/>
    <add key="paygiftreturn" value="http://luxxnailbar.net/egiftordercompleted.html"/>
    <add key="paycancel" value="http://luxxnailbar.net/products"/>
    <add key="paygiftcancel" value="http://luxxnailbar.net/egift"/>
    <add key="ipn_url" value="http://luxxnailbar.net/ipn/ipn.aspx"/>
    <add key="gift_ipn_url" value="http://luxxnailbar.net/ipn/giftipn.aspx"/>
    <add key="pay_title" value="Buy products on luxxnailbar.net"/>
    <add key="pay_gift_title" value="Buy e-gift on luxxnailbar.net"/>
    <!--Admin Email-->
    <add key="email" value="info@luxxnailbar.net"/>
    <!--Mail IP-->
    <add key="MailSerIP" value="dedrelay.secureserver.net"/>
    <add key="MailUserName" value=""/>
    <add key="MailUserPassword" value=""/>
    <!--Salon info-->
    <add key="salonname" value="Luxx Nail Bar"/>
    <add key="salonaddress" value="2063 Central Plaza #111, New Braunfels TX 78130"/>
    <add key="salonphone" value="830-358-1580"/>
    <add key="myesalonservices.myesalonservices" value="https://myesalon.com/myesalonservices.asmx"/>
    <add key="com.myesalon.mailservice.mailservice" value="http://mailservice.myesalon.com/mailservice.asmx"/>
    <add key="smsservices.webservice" value="https://mail.myesalon.com/services/webservice.asmx"/>
  </appSettings>
</configuration>
